<footer id="footer">
    <div class="container">
        <div class="row text-center img-logo">
            <img src="/images/logo_black.png" alt="" class="img-responsive">
        </div>
        <div class="row text-center social">
            <p>
                <i class="fa fa-envelope"></i> 
                Email: email@email.com
            </p>
            <p> 
                <i class="fa fa-map-marker"></i>
                Address: Avenue, infinity, 54 
            </p>
            <p> 
                <i class="fa fa-mobile"></i>
                Phone: (99) 99999-9999
            </p>
            <a href="#facebook" class="facebook">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#instagram" class="instagram">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="#whatsapp" data-toggle="tooltip" data-placement="bottom" data-title="(XX) XXXXX-XXXX" class="whatsapp">
                <i class="fa fa-whatsapp"></i>
            </a>
        </div>
    </div>
</footer>