<header id="header">
    <div class="div container">
        <div class="div row">
            <div class="div col-xs-12 col-md-3 text-center logo">
                LOGO
            </div>
            <div class="div col-xs-12 col-md-5 col-md-offset-4 text-center account">
                <div class="div row">
                    <div class="btn-group" role="group">
                        <a href="#" class="btn btn-default upper">
                            entrar / registrar
                        </a>
                        <a href="#" class="btn btn-default upper">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="div row">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="colllapse" data-target="#navbar">
                        <span class="span sr-only">Toggle</span>
                        <span class="span icon-bar"></span>
                        <span class="span icon-bar"></span>
                        <span class="span icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/">Cat1</a>
                        </li>
                        <li>
                            <a href="/">Cat2</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div id="slider" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill img-responsive" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150)"></div>
                <div class="carousel-caption "></div>
            </div>
            <div class="item">
                <div class="fill img-responsive" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150)"></div>
                <div class="carousel-caption "></div>
            </div>
            <a href="#slider" class="left carousel-control" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a href="#slider" class="right carousel-control" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</header>