<header id="header" class="no-height">
    <div class="div container">
        <div class="div row">
            <div class="div col-xs-12 col-md-3 text-center logo">
                <a href="/">
                    <img src="/images/logo.png" alt="" class="img-responsive">
                </a>
            </div>
            <div class="div col-xs-12 col-md-5 col-md-offset-4 text-center account">
                <div class="div row">
                    <div class="btn-group" role="group">
                        <a href="/account" class="btn btn-red-default upper">
                            entrar / registrar
                        </a>
                        <a href="#" class="btn btn-red-default shopping upper">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="div row">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="colllapse" data-target="#navbar">
                        <span class="span sr-only">Toggle</span>
                        <span class="span icon-bar"></span>
                        <span class="span icon-bar"></span>
                        <span class="span icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/">Cat1</a>
                        </li>
                        <li>
                            <a href="/">Cat2</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>