<%- contentFor('body') %>
<section id="register">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="title upper bold"></h4>
                <span class="subtitle">Create a new account</span>
            </div>
            <div class="col-xs-12">
                <form action="" method="POST">
                    <div class="form-group">
                        <% include ./../partials/account/form %>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>