<div class="row">
    <div class="col-xs-12">
        <h4>General</h4>
        <hr>
    </div>
</div>

 <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control"  placeholder="Enter your full name">
</div>

<div class="form-group">
    <label for="email">Email</label>
    <input type="email" name="email" class="form-control"  placeholder="Enter your email">
</div>

<div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control"  placeholder="Enter your secret password">
</div>

<div class="row">
    <div class="col-xs-12">
        <h4> Personal</h4>
        <hr>
    </div>
</div>

<div class="form-group">
    <label for="birthday">Password</label>
    <input type="text" name="Birthday" class="form-control"  placeholder="XXXX-XX-XX" >
</div>

<div class="form-group">
    <label for="id">ID (CPF)</label>
    <input type="text" name="id"d class="form-control"  placeholder="XXX.XXX.XXX-XX">
</div>

<div class="form-group">
    <label for="cellphone">Cell Phone</label>
    <input type="tel" name="cellphone"d class="form-control"  placeholder="(XX) XXXXX-XXXX">
</div>

<div class="row">
    <div class="col-xs-12">
        <h4> Delivery</h4>
        <hr>
    </div>
</div>

 <div class="form-group">
    <label for="street">Street</label>
    <input type="text" name="street"d class="form-control"  placeholder="Enter your street name">
</div>

 <div class="form-group">
    <label for="neigthborhood">Neigthborhood</label>
    <input type="text" name="neigthborhood"d class="form-control"  placeholder="Enter your neigthborhood">
</div>

 <div class="form-group">
    <label for="number">Number</label>
    <input type="numer" name="number_delivery"d class="form-control"  placeholder="Enter your number">
</div>

 <div class="form-group">
    <label for="city">City</label>
    <input type="text" name="city"d class="form-control"  placeholder="Enter your city name">
</div>

<div class="form-group">
    <but type="submit" class="btn btn-red-dark-default">Save</but>
</div>